{% extends 'base.html' %}


{% block content %}

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Services we offer</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>

<div class="row row-flex">
    {% for product in products %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">

        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p class="glyphicon glyphicon-euro" style="font-size:16px"> {{ product.price }}</hp>


                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="submit">Add</button>
                          </span>
                    </div>
                    <!-- /input-group -->

                </form>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock %}
