<!-- Base template, used as template for number of other html pages, where '% extends "base.html" %' is at the top of the html page. Loads the same navigation menu and styling on each of these pages. -->
<!-- Code used from https://codeinstitute.net and Bootstrap scrolling-nav theme, and further developed for this project. -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mythware</title>

    <!-- Bootstrap Core CSS. -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap and Developer Custom styles for this template. -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    
    {% block head_js %}
    {% endblock head_js %}

</head>

<body id="page-top">

    <!-- Navigation Menu. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Mythware</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"> Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Sign Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Sign In</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}"> Cart {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label> {% endif %} </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
        </div>
        {% endif %}
        <div class="container">
            <br> {% block content %} {% endblock %}
        </div>
    </section>

    <!-- Bootstrap Core JavaScript. -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Bootstrap Plugin JavaScript. -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Boostrap Custom JavaScript for this theme. -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
