<!-- Issue Details page, displays when user selects Read More/Edit and allows user to view issue details and edit. Code used from https://codeinstitute.net and Bootstrap scrolling-nav theme, and further developed for this project. -->

{% load staticfiles %} {% load bootstrap_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mythware</title>

    <!-- Bootstrap Core CSS. -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap and Developer Custom styles for this template. -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"> {% block head_js %} {% endblock head_js %}

</head>

<body id="page-top">

    <!-- Navigation Menu. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'get_posts' %}">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'new_post' %}">New Issue</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">Mythware</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"> Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Sign Out</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Sign In</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}"> Cart {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label> {% endif %} </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- User Auth Message and Issue Details. -->
    <section>
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center">
                    <i class="fa fa-tasks fa-3x mb-3"></i>
                    <h2 class="mb-5">Issue Details</h2>
                </div>
                {% if messages %}
                <div>
                    <div>
                        {% for message in messages %} {{ message }} {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="container bg-color-sky-light m-5">
                    {% block content %}
                    <div class="row ml-5 mr-5 mt-5 mb-2">
                        <div class="col-xs-9">
                            <h3>{{ post.title }}</h3><span class="boldtext"><b>Date Posted: </b></span> {{ post.published_date }}
                        </div>
                    </div>

                    <div class="row ml-5 mb-5 mr-5">
                        <div class="col-xs-9">
                            <p> <b>Details: </b>{{ post.details }}</p>
                            <p><span class="boldtext"><b>Author: </b></span> {{post.author}}<b>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Issue Type: </b></span> {{ post.issue_type }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>Amount Paid: </b></span>€ {{ post.amount_paid }}</p>
                            <p><span class="boldtext"><b>Status: </b></span> {{ post.status }}</p>


                            <a href="{% url 'get_posts' %}" class="btn btn-secondary">Back To Issues</a>
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit Issue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <!-- Bootstrap Core JavaScript. -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Boostrap Plugin JavaScript. -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

    <!-- Bootstrap Custom JavaScript for this theme. -->
    <script src="{% static 'js/scrolling-nav.js' %} "></script>

</body>

</html>
